
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Work Sans", sans-serif;
}
.header{
    /* background-color: blue; */
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* background-color:red; */
    width: 98%;
    height: 40%;
    padding:0px 70px 0px 70px;
    display: flex;
    justify-content:space-between;   

}
.logo img{
    /* background-color: black; */
    width: 50px;
    /* padding: 15px 100px ; */
}
.list{
     position: relative;
     width: 7%;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  width: 50px;
}
.line1{
    background-color: black;
    width: 70%;
    height: 2px;
    
}
.line2{
    background-color: black;
    width: 35%;
    height: 2px;
    align-self:flex-end;
    margin-right: 30%;
    transition: width 0.5s ease-in-out;
    
}
.line3{
    background-color: black;
    width: 70%;
    height: 3px;
    
}
.links ul{
    list-style: none;
    background-color: #f6f6f6;
    display: none;
    width: 150%;
    /* padding-top: 15px; */
    position: absolute; 
    top:45px;
    /* z-index: 1; */
    box-shadow:0px 10px 20px rgba(0, 0, 0, 0.2) ;
}
.links ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
}
.links ul li a{
    text-decoration: none;
    color: black;
    
}
.links:hover  ul{
    display: block;
}
.links:hover .line2{
    width: 70%;
}
.links ul::before{
    content: "";
    position: absolute;
    top: -45px;
    height: 45px;
    width: 100%;
    background-color:transparent;
}
.landing{
    background-image: url(/images/landing.jpg);
    background-position: center;
    height: calc(85vh)
}
.text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.text h1{
   color: #10cab7;
   text-transform: capitalize;
   font-size: 50px;
}
.text p{
    padding: 20px;
    font-size: 25px;
    line-height: 1.8;
}
.features{
    background-color: #f6f6f6;
    padding:60px 120px;
}
.container2{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    
   
}
.feat{
    padding: 20px;
    text-align: center;
    /* background-col   or:antiquewhite; */
    width: 100%;
}
.feat i{
    color: #10cab7;
}
.feat h3{
    padding: 30px 0px;
}
.special-heading{
    text-align: center;
    padding: 100px 100px;
}
.special-heading h1{
    color: #ebeced;
    font-size: 100px;
    font-weight:800;
    letter-spacing: -3px;
}
.special-heading p{
    margin: -39px 0px;
    font-size: 20px;
    color: #797979;
}
.all{
    padding: 0px 200px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 20px;
}
.text1 h3{
    font-size: 25px;
    font-weight:bolder;
    /* padding: 3px 0px; */
    margin: 0 0 20px;
}
.serv{
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 30%;

}
.serv i{
    color: #10cab7;
}
.text1 p{
    color: #444;
    font-weight: 300;
}
.col{
    position: relative;
}
.shape{
    height: calc(100% + 100px);
    width:100px;
    background-color: black;
    z-index: -1;
    position: absolute;
    top: -10%;
    right: -15%;
}
.protfolio{
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
    /* height: 45vh; */
    background-color: #f6f6f6;
    position: relative;
}
.proto{
    text-align: center;
    position: absolute;
    top: 8%;
    left: 40%;
    
}
.proto h2{
    font-size: 100px;
    font-weight:800;
    color: #ebeced;
}

.proto p{
    margin: -30px 0px;
    font-size: 20px;
    color: #797979;
}
.cards{
    margin-top: 170px;
    display: flex;
    justify-content: center;
    gap: 35px;
    /* position: absolute; */
    /* bottom: -150; */
}
.card{
    width: 375px;
    background-color: white;
}
.card img{
    width: 100%;
}
.card h3,p{
    padding: 10px 15px;
}
.card p{
    color: #777;
}
.card h3{
    font-size: 20px;
    font-weight: 800;
}
.container4{
    display: flex;
    justify-content: space-between;
}
.column1{
    /* display: flex; */
    position: relative;
    /* padding-left: 200px; */
    /* justify-content: space-between; */

}
.left{
    height: calc(100% + 50px);
    width:100px;
    background-color: #ebeced;
    z-index: -1;
    position: absolute;
    top: -6%;
    left: 31%;
}
.center{
    width: 360px;
    height: 480px;
    margin-left: 200px;

}

.center img{
    width: 90%;
    height: 100%;
}
:root{
    --main-color: #10cab7;
}
.center::after{
   
  top: -6%;
  content: "";
  position: absolute;
  width: 120px;
  height: 383px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  left:90%;

}
.column2{   
    width: 600px;
    margin-right: 200px;
}
.p1{
    font-size: 14px;
    font-weight:800;
    line-height: 2;
    padding-bottom: 40px;
}
.hr{
    width: 350px;
    height: 1px;
    margin-left: 15px;
    background-color: #10cab7;
}
.p2{
    padding-top: 20px;   
    color: #777;
    line-height: 2;
}
.contact{
    background-color: #f6f6f6;
    margin-top: 100px;
    position: relative;
    padding-bottom: 100px;
}

.emails p{
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    letter-spacing:-2px;
    word-spacing:-5px ;
    display: block;    
    margin-left: -30px;
}
.emails a{
    text-decoration: none;
    color: #10cab7;
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}
.emails div{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.footer{
    background-color: #2c4755;
    color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer span{
    color: #10cab7;
}
